<div class="spot-form">
  <%= simple_form_for(spot) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :skill_level %>
    <%= f.input :disciplines %>
    <%= f.input :description %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</div>
