<div class="spot-form">
  <%= simple_form_for(spot) do |f| %>
    <%= f.input :name %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :skill_level %>
    <%= f.input :disciplines %>
    <%= f.input :description %>
    <%= f.submit %>
  <% end %>
</div>
