<div class="container">
  <div class="cards">
    <div class="card">
      <div class="spot-description">
        <div class="spot-image">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <% if @spot.photos.count.eql?(0) %>
                <div class="carousel-item active ">
                  <%= image_tag "spot-pic.jpg", class: "image-placeholder" %>
                </div>
              <% end %>
              <% @spot.photos.each do |photo| %>
                <% if photo.eql?(@spot.photos.first) %>
                  <div class="carousel-item active">
                <% else %>
                  <div class="carousel-item">
                <% end %>
                <%= cl_image_tag photo.key, height: 350, width: 1110, crop: :fill %>
                </div>
              <% end %> 
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="description-box">
          <h1><%= @spot.name %></h1>
          <% if user_signed_in? %>
            <div class="heart-red">
              <% if @my_favourite %>
                <%= link_to favourite_path(@my_favourite), method: :delete, remote: true do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              <% else %>
                <%= link_to spot_favourites_path(@spot), method: :post, remote: true do %>
                  <i class="far fa-heart"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
        <p><%= @spot.latitude %>, <%= @spot.longitude %></p>
        <% @spot.disciplines.each do |discipline| %>
          <%= discipline %> |
        <% end %>
        <p><%= @spot.skill_level %></p>
        <p><%= @spot.description %></p>
      </div>
      <div class="spot-links">
        <% if @spot.user == current_user %>
          <%= link_to 'Edit', edit_spot_path(@spot), class: "animation btn-shaka" %>
          <%= link_to "Delete", spot_path(@spot), class: "animation btn-shaka", method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
          <%= link_to 'Back', spots_path, class: "animation btn-shaka" %>
      </div>
    </div>
    <div class="card">
      <iframe width="1075" height="450" src="https://embed.windy.com/embed2.html?lat=<%= @spot.latitude %>&lon=<%= @spot.longitude %>&detailLat=<%= @spot.latitude %>&detailLon=<%= @spot.longitude %>&width=650&height=450&zoom=9&level=surface&overlay=wind&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=true&metricWind=kt&metricTemp=%C2%B0C&radarRange=-1" frameborder="0"></iframe>
    </div>
    <div class="card">
      <h2><%= pluralize @spot.reviews.size, "review" %></h2>
      <% if @spot.reviews.blank? %>
        Be the first to leave a review for <%= @spot.name %>
      <% else %>
        <div class="reviews-avg">
          <span>Average: <% @spot.reviews.average(:rating).to_i.times do  %>
            <i class="fas fa-star"></i></span>
          <% end %>
          (<%= @spot.reviews.average(:rating).round(2) %>)
        </div>
        <div class="reviews">
          <% @spot.reviews.reverse.each do |review| %>
            <div class="review">
              <div class="head-review">
                <div class="user-img">
                  <%= cl_image_tag review.user.photo.key, class: "avatar" %>
                </div>
                <div class="user-desc">
                  <strong><%= review.user.first_name %></strong>
                  <p><%= review.created_at.to_date %></p>
                </div>
              </div>
              <div class="body-review">
                <div class="rating-review">
                  <% review.rating.to_i.times do  %>
                    <i class="fas fa-star"></i>
                  <% end %>
                </div>
                <div class="desc-review">
                  <p><%= review.message %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="reviews-form">
        <% if user_signed_in? %>
          <h3>Leave a review</h3>
          <%= simple_form_for [ @spot, @review ] do |f| %>
            <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
            <%= f.input :message %>
            <%= f.button :submit, class: "btn btn-danger", id: "submit-review" %>
          <% end %>
          <% else %>
            <p>You need to <%= link_to "log in", new_user_session_path %> to leave a review</p>
        <% end %>
      </div>
    </div>
    <div class="card">
      <h2><%= pluralize @spot.amenities.size, "amenities" %></h2>
      <% if @spot.amenities.blank? %>
        <p>No amenity available</p>
      <% else %>
        <div class="amenities-box">
          <% @spot.amenities.each do |amenity| %>
            <div class="amenity">
              <div class="head-amenity">
                <% if amenity.category.eql?("Toilet") %>
                    <i class="fas fa-toilet"></i> <strong><%= amenity.category %></strong>
                <% elsif amenity.category.eql?("Kit rental") %>
                    <i class="fas fa-receipt"></i> <strong><%= amenity.category %></strong>
                <% elsif amenity.category.eql?("Restaurant") %>
                    <i class="fas fa-utensils"></i> <strong><%= amenity.category %></strong>
                <% else amenity.category.eql?("Shop") %> 
                    <i class="fas fa-store"></i> <strong><%= amenity.category %></strong>
                <% end %>
              </div>
              <div class="desc-amenity">
                <p><%= amenity.descripton %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="amenities-form">
        <% if @spot.user == current_user %>
          <h3>Add some amenities</h3>
          <%= render partial: "amenities/amenityform", locals: {amenity: @amenity, spot: @spot} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
