<div class="container">
  <div class="card">
    <div class="spot-description">
      <h1> checkout the spot </h1>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% @spot.photos.each do |photo| %>
            <div class="carousel-item active">
              <%= link_to cl_image_tag photo.key, height: 300, width: 1110, crop: :fill %>
          </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="spot-image">
        <% if @spot.photos.attachments.nil? %>
          <%= image_tag "spot-pic.jpg", width: 1110 %>
        <% else %>
          <% @spot.photos.each do |photo| %> 
            <%= cl_image_tag photo.key, height: 300, width: 1110, crop: :fill %>
          <% end %>
        <% end %>
      </div>
      <h2><%= @spot.name %></h2>
      <p><%= @spot.latitude %>, <%= @spot.longitude %></p>
      <% @spot.disciplines.each do |discipline| %>
        <%= discipline %> |
      <% end %>
      <p><%= @spot.description %></p>
    </div>
    <% if user_signed_in? %>
      <div class="favourites">
        <% if @my_favourite %>
          <%= link_to favourite_path(@my_favourite), remote: true, method: :delete do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%= link_to spot_favourites_path(@spot), remote: true, method: :post do %>
            <i class="far fa-heart"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="spot-links">
      <% if @spot.user == current_user %>
        <%= link_to 'Edit', edit_spot_path(@spot), class: "animation btn-shaka" %>
        <%= link_to "Delete", spot_path(@spot), class: "animation btn-shaka", method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
        <%= link_to 'Back', spots_path, class: "animation btn-shaka" %>
    </div>
  </div>
  <div class="card">
    <iframe width="1100" height="450" src="https://embed.windy.com/embed2.html?lat=<%= @spot.latitude %>&lon=<%= @spot.longitude %>&detailLat=<%= @spot.latitude %>&detailLon=<%= @spot.longitude %>&width=650&height=450&zoom=9&level=surface&overlay=wind&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=true&metricWind=kt&metricTemp=%C2%B0C&radarRange=-1" frameborder="0"></iframe>
  </div>
  <div class="cards">
    <div class="card">
      <div id="reviews">
        <div class="reviews-form">
          <div class="col-sm-3">
          <h2><%= pluralize @spot.reviews.size, "review" %></h2>
            <% if user_signed_in? %>
              <%= simple_form_for [ @spot, @review ] do |f| %>
                <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
                <%= f.input :message %>
                <%= f.button :submit, class: "btn btn-danger" %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="reviews-content">
          <div class="col-sm-3">
            <% if @spot.reviews.blank? %>
              Be the first to leave a review for <%= @spot.name %>
            <% else %>
              <% @spot.reviews.each do |review| %>
                <% review.rating.to_i.times do  %>
                  <i class="fas fa-star"></i>
                <% end %>
                <p><%= review.message %></p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class= "amenity">
        <div class="amenities-box">
          <% @spot.amenities.each do |amenity| %>
            <% if amenity.category.eql?("Toilet") %>
                <i class="fas fa-toilet"></i>
            <% elsif amenity.category.eql?("Kit rental") %>
                <i class="fas fa-receipt"></i>
            <% elsif amenity.category.eql?("Restaurant") %>
                <i class="fas fa-utensils"></i>
            <% else amenity.category.eql?("Shop") %>
                <i class="fas fa-store"></i>
            <% end %>
            <p><%= amenity.descripton %></p>
          <% end %>
        </div>
      </div>
      <div class= "amenity">
        <div class="amenities-form">
          <div class="col-sm-3">
            <% if user_signed_in? %>
              <h3>Add some amenities</h3>
              <%= render partial: "amenities/amenityform", locals: {amenity: @amenity, spot: @spot} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>