<h1> checkout the spot </h1>
<% @spot.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<h2> <%= @spot.name %> </h2>

<p> <%= @spot.latitude %>, <%= @spot.longitude %> </p>

<% if @my_favourite %>
  <%= link_to favourite_path(@my_favourite), method: :delete do %>
    <i class="fas fa-heart"></i>
  <% end %>
<% else %>
  <%= link_to spot_favourites_path(@spot), method: :post do %>
    <i class="far fa-heart"></i>
  <% end %>
<% end %>

<h2>
  <%= pluralize @spot.reviews.size, "review" %>
</h2>

<div id="reviews">
  <% if @spot.reviews.blank? %>
    Be the first to leave a review for <%= @spot.name %>
  <% else %>
    <% @spot.reviews.each do |review| %>
      <% review.rating.to_i.times do  %>
        <i class="fas fa-star"></i>
      <% end %>
      <p><%= review.message %></p>
    <% end %>
  <% end %>
</div>

<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %> |
<%= link_to 'Leave a review', new_spot_review_path(@spot) %>
