<h1> checkout the spot </h1>
<% @spot.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<h2> <%= @spot.name %> </h2>

<p> <%= @spot.latitude %>, <%= @spot.longitude %> </p>

<% if @my_favourite %>
  <%= link_to favourite_path(@my_favourite), method: :delete do %>
    <i class="fas fa-heart"></i>
  <% end %>
<% else %>
  <%= link_to spot_favourites_path(@spot), method: :post do %>
    <i class="far fa-heart"></i>
  <% end %>
<% end %>
