<h1> checkout the spot </h1>
<% @spot.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<h2> <%= @spot.name %> </h2>

<p> <%= @spot.latitude %>, <%= @spot.longitude %> </p>

<% if @my_favourite %>
  <%= link_to favourite_path(@my_favourite), method: :delete do %>
    <i class="fas fa-heart"></i>
  <% end %>
<% else %>
  <%= link_to spot_favourites_path(@spot), method: :post do %>
    <i class="far fa-heart"></i>
  <% end %>
<% end %>

<ul class="list-group">
  <% @spot.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>

<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %> |
<%= link_to 'Leave a review', new_spot_review_path(@spot) %>
