<div class="amenity-form">
  <%= simple_form_for( [  spot, amenity ] ) do |f| %>
    <%= f.input :category,
                      collection: ["Toilet", "Restaurant", "Shop", "Kit rental"], 
                      label: "Category", 
                      required: true %>
    <%= f.input :address %>
    <%= f.input :descripton %>
    <%= f.button :submit, class: "btn btn-danger" %>
  <% end %>
</div>