<div class="container-banner">
  <div class="profile-banner">
    <div class="container">
      <h1>My Profile</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="profile">
    <% if @user.photo.attachment.nil? %>
      <%= cl_image_tag "1vl40da6exlw522w0ssf6vojyme4.png", height: 300, width: 300, crop: :fill, class: "img-rounded" %>
    <% else %>
      <%= cl_image_tag @user.photo.key, height: 300, width: 300, crop: :fill, class: "img-rounded" %>
    <% end %>
    <div class="profile-description-box">
        <p>Full name</p>
        <p><strong><%= @user.first_name %> <%= @user.last_name %></strong></p>
        <p>Discipline</p>
        <p><strong><%= @user.discipline %></strong></p>
        <p>Skill Level</p>
        <p><strong><%= @user.skill_level %></strong></p>
        <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
  <div class="favourites-box">
    <h2>Saved Spots</h2>
    <% @favourites.each do |fav| %>
      <%= fav %>
    <% end %>
  </div>
</div>
